
html, body {
  scroll-behavior: smooth;
}

body{
  /* background: var(--z-lighter-gray); */
  background-color: var(--z-lighter-gray) !important;
}

/* ------------------------------ LOGIN SCREEN  ------------------------------ */
.login, .login__bg--image {
  min-height: calc(100vh - 45px);
  background-color: var(--z-lighter-gray);
}
.heading-block{
   position: absolute;
   top: 0;
   text-align: center;
   background: #FFFFFF;
   width: 100%;

}
.login-heading{
  font-size: 2.454rem;
  font-weight: 700;
  color: var(--z-primary);
}

.login-copy{
  z-index: 99;
}

@media screen and (min-width: 40rem) {
  .login-layout{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.login__bg{
  inset: 0px;
  width: 100vw;
  overflow: hidden;
}
.login__bg--image{
   object-fit: cover;
   width: 100%;
}

.login__form{
  border-radius: 10px;
  /* padding: 92px 60px; */
  padding: 60px 40px;
  max-width: 28rem;
  width: 100%;
  background: var(--z-white);
}
.login__form > input{
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
}
.login__form > label{
  font-family: var(--font-family) !important;
  font-weight: 500 !important;
}
.login-form-space-y{
  margin-bottom: 1rem;
}

.login__form--header {
   color: var(--z-black);
}

.login__form--header h4{
  font-size: var(--xs-heading);
  margin-bottom: 7px;
  font-weight: 700;
}
.login__form--header span {
  display: block;
  width: 34.06px;
  height: 5px;
  background-color: var(--z-black);
}
.input-with-icon .icon{
  width: 19px;
  position: absolute;
  left: 0.75rem;
  top: 0.698rem;
}
.input-with-icon input{
  padding-left: 44px !important;
  font-size: var(--xs-heading);
}

.btn-outline-white {
  color: var(--z-white) !important;
  border-color: var(--z-white) !important;
}
.btn-outline-white:hover {
  color: var(--z-primary) !important;
  background-color:var(--z-white) !important ;
  border-color: var(--z-white) !important;
}
.btn-outline-white:hover.btn-arr svg{
  stroke: var(--z-primary);
}

.btn-outline-primary {
  color: var(--z-primary) !important;
  border-color: var(--z-primary) !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color:var(--z-primary) !important ;
  border-color: var(--z-primary) !important;
}
.btn-rounded{
  border-radius: 50px;
  padding: 0.375rem 22px;
}

.btn-outline-warning {
  color: var(--z-warning) !important;
  border-color: var(--z-warning) !important;
}
.btn-outline-warning:hover {
  color: #fff !important;
  background-color:var(--z-warning) !important ;
  border-color: var(--z-warning) !important;
}

.btn-warning {
  color: var(--z-white) !important;
  background-color:var(--z-warning) !important ;
  border-color: var(--z-warning) !important;
}
.btn-warning:hover {
  color: #fff !important;
  background-color:var(--z-warning) !important ;
  border-color: var(--z-warning) !important;
}
.btn-primary {
  color: var(--z-white) !important;
  border-color: var(--z-primary) !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color:var(--z-primary) !important ;
  border-color: var(--z-primary) !important;
}
.d-arrow{
  fill: var(--z-deep-gray);
  width: 12.5px;
}
.btn-arr svg{
  stroke: var(--z-white);
}
.forgot-password-link {
  margin-top: 1.2rem;
  text-decoration: none;
}
.forgot-password-link:hover{
  color: var(--z-black);
}
.forgot-password-link svg{
  margin-left: 5px;
}

.account-link{
  background: rgba(91, 105, 230, 0.98);
  /* padding: 56px 60px 52px; */
  padding: 60px 40px;
  max-width: 441.13px;
}
.account-link h4{
  color: #fff !important;
}
.account-link span{
  background-color: #fff !important;
}
.account-link h5{
  font-size: var(--lg-heading);
  font-weight: 700;
  color: #fff;
}
.account-link p{
  font-size: var(--xs-heading);
  font-weight: 400;
  color: var(--z-gray);
}

/* ------------------------------ LOGIN SCREEN  ------------------------------ */



/* FOOTER  */
 .footer{
   padding: 6px;
   background-color: var(--z-lighter-gray);
 }
 .footer p{
   font-size: var(--sm-heading);
   font-weight: 200;
   margin-right: 5px;
 }
 .footer img{
   height: 33px;
 }
/* FOOTER  */

/* --------------- REGISTRATION ---------------  */
.nav-link
.registration-nav{
  padding: 26px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
}
.registration-nav h1{
  color: var(--z-deep-gray);
  font-weight: 800;
  font-size: var(--lg-heading);
}
.registration-layout{
  min-height: calc(100vh - 118.4px);
  background-color: var(--z-lighter-gray);
}

.registration-form{
  max-width: 890px;
}

.registration-form__heading{
  padding: 10px;
}

.registration-form__heading .nav-link{
  color: #373a4e;
  font-weight: 600;
}

.not-active{
  color: var(--z-deep-gray) !important;
}
.not-active:hover{
  color: var(--z-primary) !important;
}
.registration-form__heading h2{
  color: var(--z-deep-gray);
  opacity: 0.7;
  font-size: var(--sm-heading);
  font-weight: 400;
  margin-bottom: 0 !important;
}
.registration-form__form{
  border-radius: 10px;
  padding: 57px;
  background: var(--z-white);
}
.registration-space-y{
  margin-bottom: 24px;
}
.line{
  display: block;
  height: 1px;
  background: var(--z-deep-gray);
  margin-bottom: 1rem;
  opacity: 0.2;
}


/* error and warning  */
.box-alert{
    width: 100%;
}
.icon-alert {

}
.icon-alert svg{
  width: 20px;
  fill: inherit;
}
.message-alert{

}
.warning-alert{
   color: var(--z-warning);
   border-top: 3px solid;
   border-color: var(--z-warning);
}
.message-alert h2{
  font-size: var(--sm-heading);
  font-weight: 700;
  color: inherit;
}
.message-alert p{
  font-size: var(--xs-heading);
  color: inherit;
}

/* error and warning  */
/* --------------- REGISTRATION ---------------  */



/* --------------- DASHBOARD ---------------  */

/* ----- profile -----  */
.panel-nav{
    padding: 2px 16px; 
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 4%);
}
.panel-nav h1{
  color: var(--z-deep-gray);
  font-weight: 800;
  font-size: var(--lg-heading);
}
.panel-nav .title{  
  font-size: 1.5rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.panel-nav span{
  margin-left: 11px;
  color: #19985b;
}

.panel-nav__profile{
   color: var(--z-deep-gray);
}
.panel-nav__profile--info p{
   color: var(--z-deep-gray) !important;
   font-size: var(--sm-heading) !important;
   font-weight: 400 !important;
}
.panel-nav__profile--info__link > *{
  color: var(--z-deep-gray) !important;
  font-size: var(--sm-heading) !important;
  font-weight: 400 !important;
  
}

.profile-icon{

}
.profile-icon svg{
  width: 35px;
}

.sidebar{
  list-style: none;
  list-style-type: none;
  padding: 0;
}
.side-nav-color{
  background-color: var(--z-deep-gray);
}
.sidebar svg{
 width: 27px; 
 height: 27px; 
 stroke: var(--z-white);
}
.sidebar a{
  color: var(--z-white);
  font-size: var(--sm-heading);
  font-weight: 600;
  text-decoration: none;
}
.sidebar a > span{
  display: block;
  margin-left: 12px;
}
.sidebar li{
  /* border: 1px solid #c1c1c1; */
  padding: 6px;
}

.sidebar li.sidebar__active-link, .sidebar li:hover, .sidebar li:hover span{
  color: var(--z-white);
  border-color: var(--z-primary);
  background: var(--z-primary);
}
.sidebar li:hover svg{
  stroke: var(--z-white);
}

.sidebar__active-link > svg{ stroke: var(--z-white); }
.sidebar__active-link > span{ color: var(--z-white); }

/* ----- profile -----  */

 .data-layout{
  border-radius: 10px;
  background-color: var(--z-white);
 }

 .data-heading{
   font-weight: 700;
   color: var(--z-black);
   font-size: var(--sm-heading);
   font-family: var(--font-family);
 }
 .data-nav{
   list-style: none;
   padding: 0;
 }
 
 .data-nav li a{
   text-decoration: none;
   font-size: var(--xs-heading);
   text-transform: uppercase;
   font-weight: 800;
   color: var(--z-success);
 }
 
 .data-nav li a:hover{
   color: var(--z-black);
 }
 .data-nav__active{
   border-bottom: 2px solid var(--z-success);
   /* border: 2px solid var(--z-deep-gray); */
   /* padding: 10px; */
   border-radius: 8px;
 }
 .data-nav__active a{
   color: var(--z-black) !important;
 }

 ._topnavigation{
  background: var(--z-deep-gray);
  margin-top: 2rem;
  padding-top: 5px;
 }

 

/* --------------- DASHBOARD ---------------  */

/* -------------- clinics ----------  */
.clinic-form{
  padding: 30px 0;
}
.clinic-form hr{
  margin: 0 !important;
  background: #c1c1c1;
}
#clinics_wrapper .btn{
  margin-right: 4px;
}

/* -------------- clinics --------- */

/* --------------- PERMISSION LAYOUT ---------------  */
 .p_active{
   color: var(--z-white) !important;
   background: var(--z-primary) !important;
 }
/* --------------- PERMISSION LAYOUT ---------------  */



/* --------------- PATIENT SEARCH  WIDGET ---------------  */
.patient_search{
  box-shadow: 0 0 56px #e1e0e099;
  margin-top: 1rem;
  border-radius: inherit;
  overflow: hidden;
}
.patient_search .detail, .patient_search .navigation .history, .patient_search .navigation .doctor, .consultation-remove{
  padding: 15px;
}
.patient-list{
   margin-top: 2rem;
}

.patient-list h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--z-success);
  margin-bottom: 1rem;  
}

.patient-list thead tr th{
  background : var(--z-deep-gray);  
  color: #FFFFFF;
}




.detail .row{
  border-bottom: 1px solid #e3e3eb;
}

.detail .row > .col:first-child {
  font-weight: bold !important;
}

.patient_search h4{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--z-success);
    margin-bottom: 1rem;
}
.patient_search .row{
  /* font-weight: 600; */
  font-size: 1rem;
}
.patient_search .navigation{
   font-weight: 600;
   border-radius: inherit;
}
.patient_search .navigation .col{
  border-radius: inherit;
}
.patient_search .navigation .history, .patient_search .navigation .doctor, .patient_search .navigation .consultation-remove{
  text-decoration: none;
  display: block;
}
.patient_search .navigation .history{
  background: var(--z-gray);
  color: black;
  /* border-bottom-left-radius: inherit; */
}
.patient_search .navigation .doctor{
  background: var(--z-primary);
  color: var(--z-white);
  text-align: right;
  /* border-bottom-right-radius: inherit; */
}
.patient_search .navigation .consultation-remove{
  background: var(--z-warning);
  color: var(--z-white);
  text-align: right;
  /* border-bottom-right-radius: inherit; */
}
.p-info{
    BACKGROUND: WHITE;
    PADDING: 19PX;
    BORDER-RADIUS: 5PX;
}

.p-info .row{
  border-bottom: 2px solid #f7f0ea;
  margin-bottom: 5px;
}
/* ---------------  PATIENT SEARCH  WIDGET ---------------  */

/* ---------------  PATIENT FILE  ---------------  */

/* send patient to ward  */
.modal-backdrop.show {
  z-index: 20 !important;
}

/* TOP NAV  */
.file-top-menu{
  padding: 0 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background:var(--z-deep-gray);
  z-index: 99;
  box-shadow: 0 2px 4px #e3e0e0;
}

.page-item.active .page-link {
  background-color: #373a4e !important;
  border-color: #373a4e !important;
}

.table-header{
  background: var(--z-deep-gray);
  color:var(--z-white);
}

.file-top-menu .button-nav > .btn{
  margin-left: 5px;
  font-size: .9rem;
}

.tox-statusbar__text-container{
  display: none !important;
}
/* TOP NAV  */
.open-menu{
  transform: translate3d(0, 0, 0) !important;
  opacity: 100 !important;
  transition-duration: .2s;
}
.file-side-nav{
   background: var(--z-white);
   position: absolute;
   z-index: 999;
   min-width: 24rem;
   top: 70px;
   box-shadow: 0 0 3px #dbd7d7;
   transform: translate3d(-660px, -50px, 5px);
   opacity: 0;
   transition-duration: .2s;
}

.file-info{
  color: #198754;
  padding: 31px 0 14px !important;
  margin: 0 !important;
  font-weight: 700;
  text-align: center;
  font-size: 1.15555rem;
}

.file-nav{
  list-style-type: none;
  /* padding: 0; */
  padding: 2rem;
  margin-top: 1rem;
}

.file-exit{
  padding: 2rem;
  border-top: 1px solid black;
}
.file-exit a{ text-decoration: none; }
.file-exit .icon{}
.file-exit .link-title{
  margin-left: 10px;
 
  font-size: var(--sm-heading);
  color: #000000;

}

.file-nav li{
  margin:3px 0;
}

.file-nav li a{
  text-decoration: none;
  font-size:var(--sm-heading);
  display: flex;
  align-items: center;
  color: #000000;
  padding: 5px;
}

.file-nav li a:hover{
  background: var(--z-gray);
  border-radius: 20px;
  font-weight: 500;
}

.file-nav li a span.icon{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--z-white);
}
.file-nav li a span.link-title{
  margin-left:  10px ;
}

.treatment-history{
  margin: 2rem 0;
}

#treatment-history option{
  padding: 3px 0;
}
#treatment-history option:disabled{
  background-color: var(--z-primary);
  color: var(--z-white);
}

/* file content */
.file{
  /* background-color: var(--z-white); */
  font-size: var(--xs-heading);
}

.file-header h3{
  font-size: var(--lg-heading);
  font-weight: 500;
  margin-bottom: 1rem;
}

.file-header{
  padding: 2rem 2rem 0;
  background-color: var(--z-white);
}

.file .divider{
  background: #727272 !important;
}

.section-style{
  background: var(--z-white);
  padding: 2rem;
}

.action-btn{
  background: #f3f5f3;
}


.final-diagnosis h4, .working-diagnosis h4{
 font-size: var(--lg-heading);
 font-weight: 600;
 /* padding-left: 4rem; */
}
.final-diagnosis, .working-diagnosis{
  position: relative;
}
.line1, .line2{
  position: absolute;
  width: 3rem;
  height: 2px;
  top: 32px;
  background: black;
}

.present_diagnosis{
  position: relative;
  border: 1px solid var(--z-gray);
  padding: 1rem;
  margin-bottom: 1rem;
}
.present_diagnosis .selectedDiagnosis {
  /* border: 1px solid var(--z-gray); */
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}
.close-btn{
  position: absolute;
  top: -15px;
  right: -17px;
}
th { white-space: nowrap !important; }
.clinical-note h5, .medicine h5, .procedures h5, .labtest h5,
.diagnosis h5{
  font-weight: 900;
  font-size: var(--lg-heading);
  display: flex;
  align-items: center;
}

.clinical-note h5 .icon, .procedures h5 .icon, .medicine h5 .icon, .labtest h5 .icon,
.diagnosis h5 .icon{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: .5rem;
}
.add-note{
  
}
.note-box{
  position: relative;
}

.search_box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.search_box > *{
    /* max-width: 47rem; */
    max-width: 25rem;
    /* margin-top: 2rem; */
}

/* .note-box .clinical-btn{
  position: absolute;
  top: 46px;
  right: 14px;
} */
/* .note-box .clinical-btn .btn{
  padding: 0.1rem 0.5rem !important;
} */
[x-cloak] { display: none !important; }

/* stylish input note */
.input-note{
  position: relative;
}

.input-note .clinical-btn{
  position: absolute;
  padding: 8px;
  z-index: 6;
  top: 3px;
  right: 9px;
}
.input-note .note-desc{
  position: absolute;
  /* bottom: -5px;
  left: 14px; */
  top: 11px;
  left: 1px;
  padding: 0 14px;
  font-size: 0.9rem;
  color: #898787;
  z-index: 6;
}

/* style tables */
table thead tr th,
table tbody tr td{
  font-size: .95rem !important;
}

/* paginate table buttons */
a.paginate_button {
  background: var(--z-deep-gray);
  margin: 3px;
  padding: 5px;
  text-decoration: none;
  color: var(--z-white);
  cursor: pointer;
  border-radius: 5px;
}

a.paginate_button:hover {
  transform: scale(.9) !important;
}

a.current{
  background-color: var(--z-primary);
}
a.disabled{
  opacity: .5;
}

.selectedDiagnosis{
  border: 1px solid var(--z-gray);
  border-radius: 3px;
  padding: 10px;
}

/* general-examination */
.unit{ color: red; }
.examination-form label{
    font-size: .79rem;
    font-weight: 500;
}
.examination-form input{
  font-size: var(--xs-heading);
}
/* general-examination */
/* ---------------  PATIENT FILE  ---------------  */




/* ---------------  RISIT   ---------------  */
.p-risit{
  max-width: 50%;
}

.p-risit .title{
  text-transform: uppercase;
  font-size: var(--lg-heading) !important;
  font-weight: 800;
}

.p-risit .table th, .p-risit .table td{
  font-size: .9rem !important;
}

.p-risit .p-details td{
  font-size: .8rem !important;
}
.p-risit .p-details td{
  padding: 0 0 !important;
}  

.p-risit .about{
  font-weight: 600;
  font-size: .9rem;
}

.p-risit .clinic-contacts{
  font-size: .8rem;
  margin-bottom: 0.4rem;
}

.p-risit .data th, .p-risit .data td{
  font-size: .722rem !important ;
}

@media print {
  .print-btn, .alert {
    display: none;
  }
  .container{
    width: 100%;
    max-width: none;
  }
  .p-risit{
    max-width: 100%;
  }
  .card {
    border: none;
    background-color: transparent;

    @page {
      size: a5 landscape;
     }
  }
  .exit-assessment{
    display: none;
  }
}

/* ---------------  RISIT   ---------------  */

/* ---------------  PATIENT HISTORY FILTER   ---------------  */
.history{
  margin-top: 2rem;
}
.history ._back{
    text-decoration: none;
    color:var(--z-warning);
    padding: 8px;
    display: inline-block;
}
.history-form{
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 10px;
}
.history-form .header{
  border-bottom: 1px solid #000000;
}
.history-form h4, .visits h5{
  font-weight: 900;
  font-size: var(--lg-heading);
}
.history-form h5{
  font-weight: 700;
  font-size: 1rem;
}
.visits{
 margin-top: 1rem;
 margin-bottom: 2rem;
}
.visits h5{
  padding-left: 10px; 
}
.visit input[type="submit"]:hover{
    z-index: 2;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.patientSearchList{
  margin-top: 5px;
  max-height: 17rem;
  overflow: hidden;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-shadow: 0 0 10px #e5e5e5;
}
.patientSearchList a:hover{
  z-index: 2;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
/* ---------------  PATIENT HISTORY FILTER   ---------------  */

/* ---------------  PATIENT FILE ASSESSMENT   ---------------  */
.fertility-assessment{
  background: #FFFFFF;
  padding: 20px;
  margin: 10px 0;
}

.fertility-assessment .top-head{
  padding: .5rem 0 1rem;
  margin: .5rem 0 .7rem;
  border-bottom: 2px solid black;
}

.fertility-assessment .top-head .title{
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.fertility-assessment .top-head .subtitle{
  font-size: .9rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.exit-assessment{
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  /* background: #FFFFFF; */
  padding: 7px 10px;
  margin-top: 11px;
}



.fertility-assessment .head h2, .fertility-assessment .head h3{
 font-size: .9rem;
 font-weight: 800;
 text-align: center;
 margin: 0;
}
.fertility-assessment .head{
  margin: 15px 0;
}
.fertility-assessment tr th, .fertility-assessment tr td{
  font-size: .8rem !important;
}

.fertility-assessment span.data{
  margin-left: 10px;
}
.fertility-assessment .check{
  width: 27px;
  height: 11px;
  position: relative;
  background-color: #FFFFFF !important;
  /* border-color: #FFFFFF !important; */
  width: 27px;
  height: 18px;
  border: 1px solid #d1d1d1;
  background: none !important;
  border-radius: 0 !important;
  cursor: pointer;
}
.fertility-assessment .form-check{
  position: relative;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  width: 27px;
  height: 18px;
  border: 1px solid #d1d1d1;
  background: none !important;
  border-radius: 0 !important;
  
}
.fertility-assessment .icon{
  position: absolute;
  top: -6px;
  left: 6px;
  font-size: 1.3rem;
}
.fertility-assessment input, .fertility-assessment textarea{
  font-size: .8rem !important;
}

.fertility-assessment .flex-1{
  flex:1;
}
.fertility-assessment .flex-2{
  flex:2;
}
.fertility-assessment .border-none{
  border: none;
}
.fertility-assessment input:disabled, .fertility-assessment textarea:disabled{
  background: #FFFFFF;
  border: none;
}

/* ---------------  PATIENT FILE ASSESSMENT   ---------------  */

/* ---------------  REFFERS   ---------------  */
.reffers td span{
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
}
.reffers .subhead h2{
  display: flex;
  font-size: .97rem;
  font-weight: 700;
  align-items: center;
  /* gap: 10px; */
}
.reffers .subhead{
  margin: 2rem 0 1rem !important;
  flex: 1;
  max-width: 50%;
}
.reffers .position{
  display: flex;
  align-items: center;
  justify-content: center;
}
.reffers .subhead h2 select {
  font-size: .97rem;
  font-weight: 700;
  /* text-align: center; */
}
.reffers .file_number tr{
  display: flex;
  border: 0;
}
.reffers label, .reffers textarea{
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.reffers textarea, .reffers input{
  font-weight: 500 !important;
  text-transform: uppercase;
}
.reffers .file_number .table-bordered > :not(caption) > * > * {
  border-width: 0 !important;
}
.reffers .subhead h2 span, .reffers .subhead h2 select {
 /* flex: 1; */
}
.reffers .signature tr{
  display: flex;
}
@media print{
  .reffers .form-select{
     background-image: unset;
     border: 0;
  }
}
/* .reffers .signature tr>td:first{
  flex: 2;
} */
/* ---------------  REFFERS   ---------------  */

