.ward-section{
    border-bottom: 1px solid #373a4e;
}
.ward-section fieldset > label{
    font-weight: bold;
    border-bottom: 1px solid #373a4e;
    display: block;
    text-transform: uppercase;
}
.ward-list-title{
    font-weight: bold;
}
.update-ward-cancel{
    margin-right: 10px;
}
